In [1]:
import pandas as pd
import numpy as np

In [2]:
ls

 Volume in drive C has no label.
 Volume Serial Number is EEA7-55FE

 Directory of C:\Users\acer\Desktop\python 15th december\Case Studies\Untitled Folder

04-04-2024  00:19    <DIR>          .
04-04-2024  00:05    <DIR>          ..
04-04-2024  00:06    <DIR>          .ipynb_checkpoints
04-04-2024  00:16             4,931 ESPN_Data.csv
04-04-2024  00:07               589 pandas data cleaning ESPN data.ipynb
               2 File(s)          5,520 bytes
               3 Dir(s)  162,985,713,664 bytes free

In [3]:
df = pd.read_csv('ESPN_Data.csv')

In [4]:
df

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800.0,58.60,29,13,7,626,6
1,HC Brook (ENG),2022-2023,12,20,1,1181,186,62.15,1287.0,91.76,4,7,1,141,23
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667.0,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707.0,54.48,7,11,1,246,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416.0,56.00,10,5,2,104,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662.0,49.16,15,33,4,525,23
58,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525.0,59.67,27,38,11,1165,24
59,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118.0,44.77,7,6,1,119,0
60,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217.0,60.02,6,13,4,241,5
61,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110.0,25.59,1,10,2,53,0

# Renaming the columns for better understanding

In [10]:
df = df.rename(columns = {'Mat': 'Matches', 'NO': 'Not_Outs', 'HS': 'Highest_inn_score', 'BF': 'Balls_Faced', 'SR': "Strike_Rate"})

## Checking for null values if any

In [11]:
df.isnull().any()

Player               False
Span                 False
Matches              False
Inns                 False
Not_Outs             False
Runs                 False
Highest_inn_score    False
Ave                  False
Balls_Faced           True
Strike_Rate           True
100                  False
50                   False
0                    False
4s                   False
6s                   False
dtype: bool

## Filling the values with 0 as null represents directly the balls faced and the stricke rate

In [13]:
df['Balls_Faced'] = df['Balls_Faced'].fillna(0)

In [16]:
df['Strike_Rate'] = df['Strike_Rate'].fillna(0)

## Checking for duplicate values

In [18]:
df[df['Player'].duplicated()==1]

Empty DataFrame
Columns: [Player, Span, Matches, Inns, Not_Outs, Runs, Highest_inn_score, Ave, Balls_Faced, Strike_Rate, 100, 50, 0, 4s, 6s]
Index: []

In [19]:
df

,Player,Span,Matches,Inns,Not_Outs,Runs,Highest_inn_score,Ave,Balls_Faced,Strike_Rate,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800.0,58.60,29,13,7,626,6
1,HC Brook (ENG),2022-2023,12,20,1,1181,186,62.15,1287.0,91.76,4,7,1,141,23
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667.0,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707.0,54.48,7,11,1,246,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416.0,56.00,10,5,2,104,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662.0,49.16,15,33,4,525,23
58,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525.0,59.67,27,38,11,1165,24
59,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118.0,44.77,7,6,1,119,0
60,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217.0,60.02,6,13,4,241,5
61,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110.0,25.59,1,10,2,53,0

## Splitting the Span column into two columns i.e., Rookie_Year and Final_year

In [20]:
df['Span'].str.split(pat = '-')

0     [1928, 1948]
1     [2022, 2023]
2     [2015, 2016]
3     [1963, 1970]
4     [1930, 1954]
          ...
57    [1965, 1981]
58    [2002, 2014]
59    [1924, 1934]
60    [1930, 1938]
61    [1928, 1934]
Name: Span, Length: 62, dtype: object

In [21]:
df['Rookie_Year'] = df['Span'].str.split(pat = '-').str[0]

In [22]:
df

,Player,Span,Matches,Inns,Not_Outs,Runs,Highest_inn_score,Ave,Balls_Faced,Strike_Rate,100,50,0,4s,6s,Rookie_Year
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800.0,58.60,29,13,7,626,6,1928
1,HC Brook (ENG),2022-2023,12,20,1,1181,186,62.15,1287.0,91.76,4,7,1,141,23,2022
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667.0,55.68,5,4,2,186,5,2015
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707.0,54.48,7,11,1,246,11,1963
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416.0,56.00,10,5,2,104,1,1930
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662.0,49.16,15,33,4,525,23,1965
58,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525.0,59.67,27,38,11,1165,24,2002
59,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118.0,44.77,7,6,1,119,0,1924
60,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217.0,60.02,6,13,4,241,5,1930
61,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110.0,25.59,1,10,2,53,0,1928

In [23]:
df['Final_year'] = df['Span'].str.split(pat = '-').str[1]
df

,Player,Span,Matches,Inns,Not_Outs,Runs,Highest_inn_score,Ave,Balls_Faced,Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_year
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800.0,58.60,29,13,7,626,6,1928,1948
1,HC Brook (ENG),2022-2023,12,20,1,1181,186,62.15,1287.0,91.76,4,7,1,141,23,2022,2023
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667.0,55.68,5,4,2,186,5,2015,2016
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707.0,54.48,7,11,1,246,11,1963,1970
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416.0,56.00,10,5,2,104,1,1930,1954
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662.0,49.16,15,33,4,525,23,1965,1981
58,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525.0,59.67,27,38,11,1165,24,2002,2014
59,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118.0,44.77,7,6,1,119,0,1924,1934
60,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217.0,60.02,6,13,4,241,5,1930,1938
61,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110.0,25.59,1,10,2,53,0,1928,1934

## Now dropping Span column as it is not necessary anymore

In [24]:
df.drop(['Span'], axis = 1, inplace = True)

In [25]:
df

,Player,Matches,Inns,Not_Outs,Runs,Highest_inn_score,Ave,Balls_Faced,Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_year
0,DG Bradman (AUS),52,80,10,6996,334,99.94,9800.0,58.60,29,13,7,626,6,1928,1948
1,HC Brook (ENG),12,20,1,1181,186,62.15,1287.0,91.76,4,7,1,141,23,2022,2023
2,AC Voges (AUS),20,31,7,1485,269*,61.87,2667.0,55.68,5,4,2,186,5,2015,2016
3,RG Pollock (SA),23,41,4,2256,274,60.97,1707.0,54.48,7,11,1,246,11,1963,1970
4,GA Headley (WI),22,40,4,2190,270*,60.83,416.0,56.00,10,5,2,104,1,1930,1954
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,KD Walters (AUS),74,125,14,5357,250,48.26,8662.0,49.16,15,33,4,525,23,1965,1981
58,GC Smith (ICC/SA),117,205,13,9265,277,48.25,15525.0,59.67,27,38,11,1165,24,2002,2014
59,WH Ponsford (AUS),29,48,4,2122,266,48.22,3118.0,44.77,7,6,1,119,0,1924,1934
60,SJ McCabe (AUS),39,62,5,2748,232,48.21,3217.0,60.02,6,13,4,241,5,1930,1938
61,DR Jardine (ENG),22,33,6,1296,127,48.00,2110.0,25.59,1,10,2,53,0,1928,1934

## Removing country codes under the player names and adding separate columns for those

In [26]:
df['Country'] = df['Player'].str.split(pat = '(').str[1]
df

,Player,Matches,Inns,Not_Outs,Runs,Highest_inn_score,Ave,Balls_Faced,Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_year,Country
0,DG Bradman (AUS),52,80,10,6996,334,99.94,9800.0,58.60,29,13,7,626,6,1928,1948,AUS)
1,HC Brook (ENG),12,20,1,1181,186,62.15,1287.0,91.76,4,7,1,141,23,2022,2023,ENG)
2,AC Voges (AUS),20,31,7,1485,269*,61.87,2667.0,55.68,5,4,2,186,5,2015,2016,AUS)
3,RG Pollock (SA),23,41,4,2256,274,60.97,1707.0,54.48,7,11,1,246,11,1963,1970,SA)
4,GA Headley (WI),22,40,4,2190,270*,60.83,416.0,56.00,10,5,2,104,1,1930,1954,WI)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,KD Walters (AUS),74,125,14,5357,250,48.26,8662.0,49.16,15,33,4,525,23,1965,1981,AUS)
58,GC Smith (ICC/SA),117,205,13,9265,277,48.25,15525.0,59.67,27,38,11,1165,24,2002,2014,ICC/SA)
59,WH Ponsford (AUS),29,48,4,2122,266,48.22,3118.0,44.77,7,6,1,119,0,1924,1934,AUS)
60,SJ McCabe (AUS),39,62,5,2748,232,48.21,3217.0,60.02,6,13,4,241,5,1930,1938,AUS)
61,DR Jardine (ENG),22,33,6,1296,127,48.00,2110.0,25.59,1,10,2,53,0,1928,1934,ENG)

In [27]:
df['Country'] = df['Country'].str.split(pat = ')').str[0]
df

,Player,Matches,Inns,Not_Outs,Runs,Highest_inn_score,Ave,Balls_Faced,Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_year,Country
0,DG Bradman (AUS),52,80,10,6996,334,99.94,9800.0,58.60,29,13,7,626,6,1928,1948,AUS
1,HC Brook (ENG),12,20,1,1181,186,62.15,1287.0,91.76,4,7,1,141,23,2022,2023,ENG
2,AC Voges (AUS),20,31,7,1485,269*,61.87,2667.0,55.68,5,4,2,186,5,2015,2016,AUS
3,RG Pollock (SA),23,41,4,2256,274,60.97,1707.0,54.48,7,11,1,246,11,1963,1970,SA
4,GA Headley (WI),22,40,4,2190,270*,60.83,416.0,56.00,10,5,2,104,1,1930,1954,WI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,KD Walters (AUS),74,125,14,5357,250,48.26,8662.0,49.16,15,33,4,525,23,1965,1981,AUS
58,GC Smith (ICC/SA),117,205,13,9265,277,48.25,15525.0,59.67,27,38,11,1165,24,2002,2014,ICC/SA
59,WH Ponsford (AUS),29,48,4,2122,266,48.22,3118.0,44.77,7,6,1,119,0,1924,1934,AUS
60,SJ McCabe (AUS),39,62,5,2748,232,48.21,3217.0,60.02,6,13,4,241,5,1930,1938,AUS
61,DR Jardine (ENG),22,33,6,1296,127,48.00,2110.0,25.59,1,10,2,53,0,1928,1934,ENG

In [28]:
df['Player'] = df['Player'].str.split(pat = '(').str[0]
df

,Player,Matches,Inns,Not_Outs,Runs,Highest_inn_score,Ave,Balls_Faced,Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_year,Country
0,DG Bradman,52,80,10,6996,334,99.94,9800.0,58.60,29,13,7,626,6,1928,1948,AUS
1,HC Brook,12,20,1,1181,186,62.15,1287.0,91.76,4,7,1,141,23,2022,2023,ENG
2,AC Voges,20,31,7,1485,269*,61.87,2667.0,55.68,5,4,2,186,5,2015,2016,AUS
3,RG Pollock,23,41,4,2256,274,60.97,1707.0,54.48,7,11,1,246,11,1963,1970,SA
4,GA Headley,22,40,4,2190,270*,60.83,416.0,56.00,10,5,2,104,1,1930,1954,WI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,KD Walters,74,125,14,5357,250,48.26,8662.0,49.16,15,33,4,525,23,1965,1981,AUS
58,GC Smith,117,205,13,9265,277,48.25,15525.0,59.67,27,38,11,1165,24,2002,2014,ICC/SA
59,WH Ponsford,29,48,4,2122,266,48.22,3118.0,44.77,7,6,1,119,0,1924,1934,AUS
60,SJ McCabe,39,62,5,2748,232,48.21,3217.0,60.02,6,13,4,241,5,1930,1938,AUS
61,DR Jardine,22,33,6,1296,127,48.00,2110.0,25.59,1,10,2,53,0,1928,1934,ENG

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Player             62 non-null     object
 1   Matches            62 non-null     int64
 2   Inns               62 non-null     int64
 3   Not_Outs           62 non-null     int64
 4   Runs               62 non-null     int64
 5   Highest_inn_score  62 non-null     object
 6   Ave                62 non-null     float64
 7   Balls_Faced        62 non-null     float64
 8   Strike_Rate        62 non-null     float64
 9   100                62 non-null     int64
 10  50                 62 non-null     int64
 11  0                  62 non-null     int64
 12  4s                 62 non-null     int64
 13  6s                 62 non-null     int64
 14  Rookie_Year        62 non-null     object
 15  Final_year         62 non-null     object
 16  Country            62 non-null     object
dtypes: float64(3), int64(9), object(5)
memory usage: 8.4+ KB

## Changing the data types of the column

In [30]:
df['Highest_inn_score'] = df['Highest_inn_score'].str.split(pat = '*').str[0]
df

,Player,Matches,Inns,Not_Outs,Runs,Highest_inn_score,Ave,Balls_Faced,Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_year,Country
0,DG Bradman,52,80,10,6996,334,99.94,9800.0,58.60,29,13,7,626,6,1928,1948,AUS
1,HC Brook,12,20,1,1181,186,62.15,1287.0,91.76,4,7,1,141,23,2022,2023,ENG
2,AC Voges,20,31,7,1485,269,61.87,2667.0,55.68,5,4,2,186,5,2015,2016,AUS
3,RG Pollock,23,41,4,2256,274,60.97,1707.0,54.48,7,11,1,246,11,1963,1970,SA
4,GA Headley,22,40,4,2190,270,60.83,416.0,56.00,10,5,2,104,1,1930,1954,WI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,KD Walters,74,125,14,5357,250,48.26,8662.0,49.16,15,33,4,525,23,1965,1981,AUS
58,GC Smith,117,205,13,9265,277,48.25,15525.0,59.67,27,38,11,1165,24,2002,2014,ICC/SA
59,WH Ponsford,29,48,4,2122,266,48.22,3118.0,44.77,7,6,1,119,0,1924,1934,AUS
60,SJ McCabe,39,62,5,2748,232,48.21,3217.0,60.02,6,13,4,241,5,1930,1938,AUS
61,DR Jardine,22,33,6,1296,127,48.00,2110.0,25.59,1,10,2,53,0,1928,1934,ENG

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Player             62 non-null     object
 1   Matches            62 non-null     int64
 2   Inns               62 non-null     int64
 3   Not_Outs           62 non-null     int64
 4   Runs               62 non-null     int64
 5   Highest_inn_score  62 non-null     object
 6   Ave                62 non-null     float64
 7   Balls_Faced        62 non-null     float64
 8   Strike_Rate        62 non-null     float64
 9   100                62 non-null     int64
 10  50                 62 non-null     int64
 11  0                  62 non-null     int64
 12  4s                 62 non-null     int64
 13  6s                 62 non-null     int64
 14  Rookie_Year        62 non-null     object
 15  Final_year         62 non-null     object
 16  Country            62 non-null     object
dtypes: float64(3), int64(9), object(5)
memory usage: 8.4+ KB

In [35]:
df['Highest_inn_score'] = df['Highest_inn_score'].astype(int)

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Player             62 non-null     object
 1   Matches            62 non-null     int64
 2   Inns               62 non-null     int64
 3   Not_Outs           62 non-null     int64
 4   Runs               62 non-null     int64
 5   Highest_inn_score  62 non-null     int32
 6   Ave                62 non-null     float64
 7   Balls_Faced        62 non-null     float64
 8   Strike_Rate        62 non-null     float64
 9   100                62 non-null     int64
 10  50                 62 non-null     int64
 11  0                  62 non-null     int64
 12  4s                 62 non-null     int64
 13  6s                 62 non-null     int64
 14  Rookie_Year        62 non-null     object
 15  Final_year         62 non-null     object
 16  Country            62 non-null     object
dtypes: float64(3), int32(1), int64(9), object(4)
memory usage: 8.1+ KB

In [38]:
df = df.astype({'Rookie_Year': 'int', 'Final_year': 'int'})

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Player             62 non-null     object
 1   Matches            62 non-null     int64
 2   Inns               62 non-null     int64
 3   Not_Outs           62 non-null     int64
 4   Runs               62 non-null     int64
 5   Highest_inn_score  62 non-null     int32
 6   Ave                62 non-null     float64
 7   Balls_Faced        62 non-null     float64
 8   Strike_Rate        62 non-null     float64
 9   100                62 non-null     int64
 10  50                 62 non-null     int64
 11  0                  62 non-null     int64
 12  4s                 62 non-null     int64
 13  6s                 62 non-null     int64
 14  Rookie_Year        62 non-null     int32
 15  Final_year         62 non-null     int32
 16  Country            62 non-null     object
dtypes: float64(3), int32(3), int64(9), object(2)
memory usage: 7.6+ KB

In [40]:
df.isnull().value_counts()

Player  Matches  Inns   Not_Outs  Runs   Highest_inn_score  Ave    Balls_Faced  Strike_Rate  100    50     0      4s     6s     Rookie_Year  Final_year  Country
False   False    False  False     False  False              False  False        False        False  False  False  False  False  False        False       False      62
Name: count, dtype: int64

# Data is now Clean for further analysis steps to plot insights for a dashboard